.no-padding>.col {
    padding: 0;
}

.btn-fixed-size {
    min-width: 100px;
    color: red;
}

/* body{
    height: 100vh;
} */
.container{
    height: 100vh;
    flex-direction: column;
}

/* .parent{
    display: table-cell;
    height: 100vh;
    vertical-align: middle;
} */

/* .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh
}

.col {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
} */